<!-- Modal -->
<div class="modal fade" id="reply-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reply-label">Respond to @username</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="" class="res-form"> {% csrf_token %}

      <div class="modal-body">
          <textarea name="rehsponse_text" id="reply-textarea" cols="30" rows="10"></textarea>
          <input type="hidden" id="hidden-reply" value="" name="replying_to_id" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary" value="Respond" >
      </div>
            </form>
    </div>
  </div>
</div>
