{% extends "base.html" %}
{% load static %}
{% block title %} {{block.super}} | Home {% endblock %}
{% block content %}
    <div class="row pt-3" data-pg-collapsed>
        <div class="col-md-2 text-center" data-pg-collapsed>
            <a href="">
                <img class="w-200 img-thumbnail rounded-circle mx-auto shadow-sm" src="{% static 'assets/img/user-profile-svgrepo-com.svg' %}" alt="{{ request.user.first_name}}_photo">
            </a>
            <h6 class="pt-3">{{request.user.first_name}} {{ request.user.last_name }}</h6>
            <h6><small>Joined {{request.user.created_on}}</small></h6>
        </div>
        <div class="col-md-8 pb-4">
            {% include "rehsponse/forms/create_rehsponse_form.html" with form=create_form action_url=create_url btn_title="Rehsponse" form_id="res-form"%}
            <hr/>
            <div id="response-container">

            </div>

    </div>
    <div class="col-md-2">
        <h4>Latest Tags</h4>
        <hr/>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
        <h6>#Tags1</h6>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            {% if not request.GET.q %}
        <div class="row">

            <hr/>
        </div>
    {% endif %}
            <div id="response-collection">
            </div>
        </div>
    </div>
    <div class="row">
        <a href="#" id="load-more">Load more</a>
    </div>
{% endblock %}

{% block script %}
    <script>
    // get query from url
    function getParameterByName(name, url) {
        if (!url) {
            url = window.location.href;
        }
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    $(document).ready(function(){
        // global variables
        let query = getParameterByName('q');
        let responseCollection = $("#response-container");
        let responseList = [];
        let resCreateForm = $("#res-form");
        let charsStart = 140;
        let charsCurrent = 0;
        resCreateForm.append("<small><span id='resCharsLeft'>"+ charsStart + " charecters left" +"</span></small>");
        let nextResponseURL;
        let spanChars = $("#resCharsLeft");

        // functions
        // attach a response on html dom
        function attachResponse(responseData, prepend){
            let reContent = responseData.rehsponse_text;
            let reTimesince = responseData.timesince;
            let reDateDisplay = responseData.date_display;
            let reUser = responseData.user_profile.first_name;
            let reUserUrl = responseData.user_profile.user_url;
            let reUrl = responseData.own_url;
            let responseTag =
                `<div class="row" data-pg-collapsed> <div class="col-md-2">
                <img src="{% static 'assets/img/user-profile-svgrepo-com.svg' %}"  class=" img-thumbnail rounded-circle" alt="user_photo"/></div>
                <div class="col-md-10 pl-2 pr-2">
                    <div class="row" data-pg-collapsed>
                        <span><small><a href="${reUserUrl}">@${reUser}</a> at ${reDateDisplay} (${reTimesince})</small></span>
                    </div>
                    <div class="row" data-pg-collapsed>
                        <p>${reContent}</p>
                    </div>
                    <div class="row" data-pg-collapsed>
                        <div class="col-md-6" data-pg-collapsed>
                            <span><small> responses count | love count </small></span>
                        </div>
                        <div class="btn-group btn-group-sm col-md-6" role="group" aria-label="Basic example" data-pg-collapsed>
                            <button type="button" class="btn btn-secondary">Rehspond</button>
                            <button type="button" class="btn btn-secondary">Love</button>
                            <button type="button" class="btn btn-secondary">Edit</button>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>`;
        if (prepend === true) {
            responseCollection.prepend(responseTag);
        }
        else {
            responseCollection.append(responseTag)
        }
    }

        // append or prepend a response
        function parseResponse(listOfResponse){
        if (listOfResponse.length === 0) {
            responseCollection.append("<p>Nothing Found</p>")
        } else {
            $.each(listOfResponse, function (key, val) {
                attachResponse(val, false)
            })
        }
    }

        // api fetch list
        function getResponse(query, listOfResponse, url) {
            let fetchURL;
            if (!url) {
                fetchURL = '/api/list/'
            } else {
                fetchURL = nextResponseURL
            }
            $.ajax({
                url: fetchURL,
                method: 'GET',
                data: {'q': query},
                success: function (data) {
                    listOfResponse = data.results;
                    if (data.next){
                        nextResponseURL = data.next;
                    } else {
                        $('#load-more').css('display', 'none');
                    }
                    parseResponse(listOfResponse);
                    updateHashLink();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }

        // api create
        function createResponse(formData, thisForm){
        $.ajax({
            url: '/api/rehsponse/create/',
            method: 'POST',
            data: formData,
            success: function (data) {
                thisForm.find("input[type=text], textarea").val("");
                attachResponse(data, true);
                spanChars.text(charsStart + " characters left");
                updateHashLink();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
        
        // hashtag
        function updateHashLink() {
            $(".media-body").each(function(data){
                let hashTagRegex = /(^|\s)#([\w\d-]+)/g;
                let newText = $(this).html().replace(hashTagRegex, "$1<a href='/tags/$2'>#$2</a>");
                $(this).html(newText);
            })
        }
        getResponse(query,responseList);

        $('#load-more').bind('click', function (event) {
            event.preventDefault();
            if (nextResponseURL) {
                getResponse(query, responseList, nextResponseURL);
            } else {
                console.log("No more response");
            }

        });

        resCreateForm.submit(function(event){
            event.preventDefault();
            let this_ = $(this);
            let formData = this_.serialize();
            if (charsCurrent >= 0) {
                createResponse(formData, this_);
            } else {
                console.log("Exceeds response length");
            }
        });

        $("#res-form textarea").keyup(function (event) {
            let resValue = $(this).val();
            charsCurrent = charsStart - resValue.length;
            spanChars.text(charsCurrent + " characters left");
            if (charsCurrent > 0) {
                // remove classes
                spanChars.removeClass("grey-color");
                spanChars.removeClass("red-color");
            } else if (charsCurrent === 0) {
                // grey class
                spanChars.removeClass("red-color");
                spanChars.addClass("grey-color");
            } else if (charsCurrent < 0) {
                // red class
                spanChars.removeClass('grey-color');
                spanChars.addClass('red-color');
                // submit button disabled
            }

        })
    })
    </script>
{% endblock %}