{% load static %}
<footer class="bg-dark text-white">
    <div class="row col-lg-12 pt-2 pb-2">
        <div class="text-center col-md-12 col-xl-4 col-lg-5">
            <small>REHSPONSE <img src='{% static "assets/img/Rehsponse_without_text.png" %}' width="32" alt="rehsponse_logo"/> copyright © 2019 all rights reserved</small>
        </div>
        <div class="text-center col-md-12 col-lg-3">
            <a href="{% url 'sitemaps' %}">Sitemap</a> |
            <a href="{% url 'contact' %}">Contact</a>
        </div>
        <div class="col-md-12 text-center col-lg-3">
            <a href="">
                <img src="{% static 'assets/img/google_play.png' %}" alt="google_play" height="32"/>
            </a>
            <a href="">
                <img src="{% static 'assets/img/app_store.png' %}" alt="app_store" height="32"/>
            </a>
        </div>
    </div>
</footer>