{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }} | Edit User {% endblock %}
{% block content %}

<div class="row pt-3">
<form action="">
    <div class="row flex-lg-nowrap">
        <div class="col">
            <div class="row">
                <div class="col mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="e-profile">
                                <div class="row">
                                    <div class="col-12 col-sm-auto mb-3">
                                        <div class="mx-auto" style="width: 140px;">
                                            <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
                                                <span style="color: rgb(166, 168, 170); font: bold 8pt Arial;">140x140</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                                        <div class="text-center text-sm-left mb-2 mb-sm-0">
                                            <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                                            <p class="mb-0">@{{request.user.username}}</p>
                                            <div class="text-muted">
                                                <small>Last seen {{ request.user.last_login|timesince }} ago</small>
                                            </div>
                                            <div class="mt-2">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fa fa-fw fa-camera"></i>
                                                    <span>Change Photo</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="text-center text-sm-right">
                                            <span class="badge badge-secondary"></span>
                                            <div class="text-muted">
                                                <small>Joined: {{ request.user.created_on }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a href="" class="active nav-link">Settings</a>
                                    </li>
                                </ul>
                                <div class="tab-content pt-3">
                                    <div class="tab-pane active">
                                        <form class="form" novalidate="">
                                            <div class="row">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="first_name">
                                                                {{ form.first_name.label_tag }}
                                                                {{ form.first_name }}
                                                            </div>
                                                        </div>
                                                        <div class="col">
                                                            <div class="form-group" id="last_name">
                                                                {{ form.last_name.label_tag }}
                                                                {{ form.last_name }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="email">
                                                                {{ form.email.label_tag }}
                                                                {{ form.email }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col mb-3">
                                                            <div class="form-group" id="short_bio">
                                                                {{ form.short_bio.label_tag }}
                                                                {{ form.short_bio }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 col-sm-6 mb-3">
                                                    <div class="mb-2">
                                                        <b>Address</b>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="address">
                                                                {{ form.address.label_tag }}
                                                                {{ form.address }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="city">
                                                                {{ form.city.label_tag }}
                                                                {{ form.city }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="country">
                                                                {{ form.country.label_tag }}
                                                                {{ form.country }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group" id="phone">
                                                                {{ form.phone.label_tag }}
                                                                {{ form.phone }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 col-sm-5 offset-sm-1 mb-3">
                                                    <div class="mb-2">
                                                        <b>Account Options</b>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="custom-controls-stacked px-2">
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-blog">
                                                                    <label class="custom-control-label" for="notifications-blog">Hide Profile</label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-news">
                                                                    <label class="custom-control-label" for="notifications-news">Stop message</label>
                                                                </div>
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="notifications-offers" checked="">
                                                                    <label class="custom-control-label" for="notifications-offers">Offers from Rehsponse.com</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col d-flex justify-content-end">
                                                    <button class="btn btn-primary" type="submit">Save Changes</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-3 mb-3">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="px-xl-3">
                                <button class="btn btn-block btn-secondary">
                                    <i class="fa fa-sign-out"></i>
                                    <span>Delete Account</span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-title font-weight-bold">Support</h6>
                            <p class="card-text">Get fast, free help from our friendly assistants.</p>
                            <button type="button" class="btn btn-primary" id="contact-btn">Contacts</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>

{% endblock %}

{% block script %}
<script>
$(document).ready(function(){
    // style the field
    $('#first_name input').addClass('form-control');
    $('#last_name input').addClass('form-control');
    $('#email input').addClass('form-control');
    $('#short_bio textarea').addClass('form-control');
    $('#address textarea').addClass('form-control');
    $('#city input').addClass('form-control');
    $('#country input').addClass('form-control');
    $('#phone input').addClass('form-control');
    {#$('#short_bio input').attrs({'rows': 5});#}
    // fill the template
    // handle delete
    // handle update

    // contact btn
    $("#contact-btn").on('click', function(e){
        window.location.href = `/contacts/`;
    });


    // form submit


    flushingFooter();
});
</script>
{% endblock %}