{% extends 'base.html' %}
{% load static %}
{% block title %}{{ block.super }} | User Profile {% endblock %}
{% block content %}
    <div class="row pt-3">
        <div class="col-xl-4 mt-xl-auto mb-xl-auto col-lg-4 text-center mt-lg-auto mb-lg-auto mt-md-auto mb-md-auto col-md-4 col-sm-4">
            <div class="shadow justify-content-center align-items-center d-inline-flex flex-column pb-2 pt-2 pl-4 pr-4">
                <h6 id="all-post">0</h6>
                <br/>
                <h6>Total Post</h6>
            </div>
        </div>
        <div class="col-xl-4 text-center mt-xl-auto mb-xl-auto col-lg-4 col-md-4 col-sm-4">
            <img class="img-thumbnail" src="{% static 'assets/img/user-profile-svgrepo-com.svg' %}" alt="user_photo" width="140" height="140">
            <h5 class="pt-3 pt-lg-2 pt-md-1" id="username"></h5>
            <div class="text-muted">
                <small>Last seen {{ request.user.last_login|timesince }} ago</small>
            </div>
        </div>
        <div class="col-xl-4 mt-xl-auto mb-xl-auto col-lg-4 text-center mt-lg-auto mb-lg-auto mt-md-auto mb-md-auto col-md-4 col-sm-4">
            <div class="shadow justify-content-center align-items-center d-inline-flex flex-column pb-2 pt-2 pl-4 pr-4">
                <h6 id="all-responders">0</h6>
                <br/>
                <h6>Total Responders</h6>
            </div>
        </div>
    </div>
    <div class="row pt-3">
        <table class="table table-sm table-hover table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>All Posts</th>
                    <th>Responders</th>
                    <th>Love Count</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody id="response-container">
            </tbody>
        </table>
    </div>

{% endblock %}

{% block script %}
    <script>
    $(document).ready(function(){
        let tableCollection = $('#response-container');
        let currentUrl = window.location.href;
        let req_url = '/api/user/' + currentUrl.split('/')[4] + '/rehsponses';

        $.getRequest(req_url, null, function(jqXHR, textStatus){
            let counter = 1;
            if (jqXHR.status === 200) {
                $.each(jqXHR.responseJSON.all_post, function (key, val) {
                    let tableTemplate =
                        `<tr>
                            <th scope="row">${counter}</th>
                            <td><a href="${val.own_url}">${val.rehsponse_text}</a></td>
                            <td>${val.reply_count} Users</td>
                            <td>${val.love_count} Users</td>
                            <td>${val.date_display}</td>
                        </tr>`;
                    tableCollection.append(tableTemplate);
                    counter ++;
                });
                $("#username").text(jqXHR.responseJSON.first_name + " " + jqXHR.responseJSON.last_name);
                $("#all-post").text(jqXHR.responseJSON.all_post.length);
                console.log(jqXHR.responseJSON.all_post);
                //$("#all-responders").text(jqXHR.responseJSON.all_post.length);
            }
        });
    });
    </script>
{% endblock %}